<html>
 <head>
  <meta charset="UTF-8">
  <title> New Puppy!</title>
 </head>
 <body>
        <p>Puppy Name: <%= @name %>
           Puppy Breed: <%= @breed %>
           Puppy Age: <%= @age %></p>
         
         
 </body>
</html>
