<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <form action="/create_puppy" method="POST" accept-charset="utf-8">
    
    </form>
  
  </body>
</html>