<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    <h1>Click <a href="/new">here</a> to create a new puppy listing.</h1>
    
    Click Here To List A Puppy
  
  </body>
</html>